<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
  <h1>Access Denied</h1>
  <p>You do not have permission to see this page. Please <a href="/">log in</a> as the appropriate user to view it.</p>
</body>
</html>
