<!DOCTYPE html>
<html>
<head>
  <title>New Cohort</title>
</head>
<body>
  <h1>New Cohort</h1>

  <label>Program</label>
  <input type="text" id="program">

  <label>City</label>
  <input type="text" id="city">

  <label>Campus</label>
  <input type="text" id="campus">

  <label>Start date</label>
  <input type="date" id="start">

  <label>End date</label>
  <input type="date" id="end">

  <button id="new-cohort">Create cohort!</button>
</body>
</html>
