<!DOCTYPE html>
<html>
<head>
  <title>New Cohort</title>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>
<body>
  <h1>New Cohort</h1>

  <div class="form-group">
    <label>Program:</label>
    <input type="text" id="program">
  </div>

  <div class="form-group">
    <label>City:</label>
    <input type="text" id="city">
  </div>

  <div class="form-group">
    <label>Campus:</label>
    <input type="text" id="campus">
  </div>

  <div class="form-group">
    <label>Start date:</label>
    <input type="date" id="start">
  </div>

  <div class="form-group">
    <label>End date:</label>
    <input type="date" id="end">
  </div>

  <button id="new-cohort">Create cohort!</button>

  <script src="/cohorts/js/new.js"></script>
</body>
</html>
