<!DOCTYPE html>
<html>
<head>
  <title><%= section.name() %></title>
</head>
<body>
  <h1><%= section.name() %></h1>
  <ul>Instructors:
    <% section.instructors.forEach(function(instructor){ %>
      <li><%= instructor.name %></li>
    <% }) %>
  </ul>
  <ul>Students:
    <% section.students.forEach(function(student){ %>
      <li><%= student.name %></li>
    <% }) %>
  </ul>
  <a href="/cohorts/">Back to index</a>
</body>
</html>
