<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="/error.css">
</head>
<body>
  <div class="container">
	  <h1>ACCESS DENIED!</h1>
	  <h3>YOU ARE NOT AN <%= role %>!!!</h3>
	  <h3><a href="/">GO BACK</a> AND LOGIN APPROPRIATELY!!!</h3>
	  <h4>Or make sure you're logged in on <a href="<%= siteUrl %>" target="_blank"><%= siteName %></a> and try again.</h4>
  </div>
</body>
</html>
