<html>
<head>
  <% include ../partials/head %>

  <link rel="stylesheet" type="text/css" href="submit/styles/styles.css">
  <script src="submit/js/index.js"></script>

  <title>Student Login</title>

</head>
<body>

  <div class="container">
    <h1>Login</h1>
    <!-- If student -->
    <a href="/auth/github">Sign in with GitHub</a>

    <p>Dont have a GitHub account? No problem, just click <a href="https://help.github.com/articles/signing-up-for-a-new-github-account/">here</a> and dont forget to <a href="https://help.github.com/articles/adding-a-file-to-a-repository-from-the-command-line/">add/commit/push</a> your pre-work.</p>
    <!-- End student -->
    <!-- If role anyhing else  -->
    <p><a href="/">Sign in with GitHub</a></p>
    <p><a href="/">Sign in with Google</a></p>
    <!-- end anything -->

  </div>

</body>
</html>
