<html>
<head>
  <% include ../partials/head %>

  <link rel="stylesheet" type="text/css" href="submit/styles/styles.css">
  <script src="submit/js/index.js"></script>

  <title>Student Signup</title>

</head>
<body>

  <h1>Login</h1>

</body>
</html>
