<html>
<head>
  <% include ../partials/head %>

  <link rel="stylesheet" type="text/css" href="submit/styles/styles.css">
  <script src="submit/js/index.js"></script>

  <title>Student Login</title>

</head>
<body>

  <div class="container">
    <h1>Login</h1>
    <a href="/">Sign in with GitHub</a>
    <p>Dont have a GitHub account? No problem, just click <a href="/">here</a></p>
  </div>

</body>
</html>
