<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <title>Frontlines</title>
</head>
<body>
  <div class="container">
    <% users.forEach(function(user){ %>
     <div>
        <img src="<%= user.avatar %>">
        <div><%= user.name %></div>
      </div>
    <% }) %>
  </div>
</body>
</html>
