<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

  <link rel="stylesheet" type="text/css" href="welcome/styles/styles.css">
  <script src="/welcome/js/main.js"></script>

  <title>Welcome</title>

</head>
<body>
  <div class="container">
    <img src="http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png" alt="General Assembly">
    <div class="text-center">
      <a href="/student" class="btn btn-default">Students</a>
      <a href="/instructor" class="btn btn-default">Instructors</a>
      <a href="/" class="btn btn-default">Admissions</a>
    </div>
  </div>

</body>
</html>
