<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<title>General Assembly Admissions - Instructor Portal</title>
</head>
<body>
	<div class="container">

		<h1>General Assembly Admissions - Instructor Portal</h1>
		<div>
			<% if(user != undefined){ %>
				<h2>Welcome <%= user.name %></h2>
					<ul>
						<% students.forEach(function(student){ %>
							<li><a href ="/instructor/students/<%= student.id %>"><%= student.name %></a></li>
						<% }) %>
					</ul>
				<a href="/instructor/logout">logout</a>
			<% } else { %>
				<h2>Login with Github to begin...</h2>
				<a href="/auth/github">Login</a>
			<% } %>
		</div>
	</div>

</body>
</html>
