<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <title>Status</title>
</head>
<body>
<div class="container"></div>
  <h1>Status</h1>
  <p>Student name: <%= student[0].name %></p>
  <p>Instructor Evaluation: <%= student[0].application.instructorEvaluation %></p>
  <p>Application Status: <%= student[0].application.status %></p>

</body>
</html>
